# Ignore all video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm

# Ignore all image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.json

#remove unwanted direcotries
**/__pycache__/
.idea/
.vscode/

#Ignore environmental variables
*.env



