Flask
supervision==0.3.0
ultralytics<=8.3.40
opencv-python
numpy
requests
deepface==0.0.79
tensorflow==2.12.1
ffmpeg-python
boto3
elasticsearch
streamlit
minio
pyspark
dotenv
typing_extensions>=4.5.0
mediapipe~=0.10.21
pandas~=2.2.3
scikit-learn~=1.6.1
shapely~=2.1.0
python-dotenv~=1.1.0
config~=0.5.1
connectors~=4.1